.top.grid{
  padding: 1em 0em;
}

.title1{
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
}

.title2{
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}

.container.main{
  margin-top: 15px;
}

.medium.header{
  margin-top: 0px;
  margin-bottom: 8px;
}

.ui.header .sub.header{
  padding-top: 5px;
  font-size: 13px;
}

.date.red{
  color: red;
}

.thumbs{
  float: right;
  margin-left: 2px;
  margin-bottom: 5px;
  font-weight: bold;
  color: gray;
}

.image.side{
  width: 90px;
  margin-bottom: 0em;
}

.paragrap.gray{
  color: gray;
}

.ui.container.main{
  min-height: 600px;
}

.new.article{
  float: right;
}

.ui.vertical.segment{
  clear: both;
  overflow:auto;
}

.ui.floated.image{
  margin-bottom: 0em;
}

a{
  color: black;
}
